@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    transition: color 0s;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
    color: white;
    header{
        width: 100%;
        position: fixed;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        &.scroll{
            background-color: rgba(0, 0, 0, 0.679);
            backdrop-filter: blur(15px);
        }
        .header{
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                display: flex;
                gap: 12px;
                z-index: 200px;
                align-items: center;
                transition: all 0.2s ease-in-out;
                &:hover{
                    transform: scale(1.04);
                }

            }
            nav{
                .menu{
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    transition: all 0.3s ease-in-out;
                    a{
                        color: white;
                        text-decoration: none;
                        font-family: 'Work Sans', sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 160%;
                        &.links{
                            padding-bottom: 3px;
                            background: linear-gradient(to right, white, #fff);
                            background-size: 0 3px;
                            background-repeat: no-repeat;
                            background-position: 50% 100%;
                            transition: all 0.3s ease-in-out;
                            &:hover{
                                background-size: 100% 3px;
                            }
                        }
                        &.button{
                            padding: 14px 30px;
                            background-color: #A259FF;
                            border-radius: 20px;
                            border: #A259FF solid 2px;
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            transition: all 0.2s ease-in-out;
                            &:hover{
                                color: white;
                                background-color: transparent;

                            }
                        }
                    }
                }
            }

        }
    }
    .main{
        width: 100%;
        max-width: 2000px;
        padding: 120px 0 50px;
        margin: 0 auto;
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
        align-items: center;
        img{
            width: 100%;
            max-width: 600px;
        }
        .forms-two{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100%;
            max-width: 600px;   
            margin: 0 auto;
            padding: 0 30px;
            .inputs{
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                max-width: 330px;
                .flex{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 5px 20px;
                    background-color: white;
                    border-radius: 20px;
                    gap: 15px;
                    input{
                        outline: none;
                        border: none;
                        padding: 8px 0;
                        font-size: 16px;
                    }
                }
                button{
                    background-color: #A259FF;
                    border-radius: 20px;
                    padding: 15px;
                    border: #A259FF solid 1px;
                    color: white;
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
        }
    }
    footer{
        width: 100%;
        padding: 40px 30px;
        margin-top: 80px;
        background-color: #3B3B3B;
        .footer{
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            gap: 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .section{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                p{
                    color: #CCC;
                    font-family: 'Work Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                }
                &.one{
                    max-width: 240px;
                    .icons{
                        display: flex;
                        gap: 10px;
                    }
                }
                &.two{
                    max-width: 200px;
                }
                &.three{
                    max-width: 370px;
                    form{
                        background-color: white;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        input{
                            font-size: 16px;
                            padding: 0 20px;
                            background-color: transparent;
                            border-radius: 20px;
                            width: 70%;
                            outline: none !important;
                            border: none;
                        }
                        button{
                            padding: 15px 45px;
                            display: flex;
                            align-items: center;
                            background-color: #A259FF;
                            border-radius: 20px;
                            gap: 8px;
                            color: white;
                            border: none;
                            &:hover{
                                transform: scale(1.03);
                            }
                        }
                    }
                }
            }
        }
        .line-c{
            width: 100%;
            max-width: 1200px;
            margin: 55px auto 0;
            .line{
                width: 100%;
                margin-bottom: 20px;
                height: 1px;
                background-color: #858584;
            }
            p{
                font-size: 12px;
                color: #CCC;
            }
        }
    }
    h1{
        /* H1 - Work Sans */
        font-family: 'Work Sans', sans-serif;
        font-size: 67px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; 
    }
    h2{
        /* H2 - Work Sans */
        font-family: 'Work Sans', sans-serif;
        font-size: 51px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
    }
    h3{
        /* H3 - Work Sans */
        font-family: 'Work Sans', sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }
    h4{
        font-family: 'Space Mono', monospace;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; 
    }
    h5{
        font-family: 'Work Sans', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
    }
    p{
        font-family: 'Space Mono', monospace;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
    a{
        color: white;
        text-decoration: none;
        font-family: 'Work Sans', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        transition: all 0.2s ease-in-out;
        &.button{
            font-weight: 600 !important;
        }
    }
}

@media(max-width: 1100px){
    .blur{
        width: 100%;
        height: 450px;
        z-index: 30;
        position: fixed;
        top: -1999px;
        transition: all 0.3s ease-in-out;
        &.active{
            top: 72px;
            backdrop-filter: blur(15px);
            &.scroll{
                background-color: rgba(0, 0, 0, 0.679);
            }
        }
    }
    header {
        .menu {
            position: fixed;
            top: -1999px;
            left: 0 !important;
            padding: 60px;
            width: 100%;
            height: 450px;
            justify-content: space-between;
            flex-direction: column !important;
            z-index: 40 !important;
        }
        
        &.active .menu{
            top: 70px;
        }
        
        .burger {
            display: flex;
            flex-direction: column;
            width: 25px;
            cursor: pointer;
            z-index: 200;
            gap: 5px;

            span {
                width: 70%;
                height: 3px;
                border-radius: 20px;
                background-color: white;

                &.span2 {
                    width: 100%;
                }
            }
        }
    }
    h1{
        font-size: 38px !important;
        line-height: 120% !important;
    }
    h2{
        font-size: 38px !important;
    }
    h3{
        font-size: 28px !important;
    }
    h4{
        font-size: 22px !important;
        font-weight: 700 !important;
    }
    h5{
        font-size: 22px;
    }
    p{
        font-size: 16px !important;
    }
    a{
        font-size: 16px !important;
    }
}
@media(max-width: 800px){
    form{
        background-color: transparent !important;
        flex-direction: column;
        gap: 16px;
        width: 100% !important;
        input{
            width: 100% !important;
            background-color: white !important;
            padding: 15px !important;
        }
        button{
            width: 100%;
            justify-content: center;
        }
    }
}

@media(max-width: 600px){
    h1{
        font-size: 35px !important;
        line-height: 140% !important;
    }
    p{
        font-size: 14px !important;
    }
}